@use './utils' as *;

* {
  box-sizing: border-box;
  margin: 0;
  font-size: $font-size-base;
  font-family:'Courier New', Courier, monospace;
}

body {
  background-color: var(--color-body);
  color: var(--text-body);
  overflow-x: hidden;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

a {
  color: var(--text-body);
}
