<div class="info-block">
  <div class="info-block__info">
    <h2>Info Item #1</h2>
    <p>This is a more detailed section.</p>
    <h2>Info Item #2</h2>
    <p>This is a more detailed section. A bit longer.</p>
    <h2>Info Item #3</h2>
    <p>This is a more detailed section. A little bit longer still.</p>
  </div>
</div>