<div class="icon-display">
  <h2>Icon Display</h2>
  <div class="icon-display__icons">
    <div class="icon-display__icon">
      {# Image / I element #}
      <img src="" />
      <p>Optional subtext</p>
    </div>
  </div>
</div>
